<!DOCTYPE html>
<html>
	<meta charset="utf-8"> 
	<head>
		<title>UVM仿真结果统计</title>
		<link rel="stylesheet" type="text/css" href="/static/css_style.css">
		<link rel="Shortcut Icon" href="/static/favicon.ico" type="image/x-icon" />
		<script src="/static/sseAlert.js" charset="utf-8" ></script>
	</head>
	<body>
		<div class="container">
			<div class="header">UVM仿真结果统计<img id="load_pic" src="/static/loading_pic.gif" alt="loading"></div>
			<div class="data_list" id="data_base_list">正在获取数据...</div>
			<div class="footer">UVM仿真结果统计 @ 验证</div>
		</div>
		<script src="/static/index.js" charset="utf-8" ></script>
	</body>
</html>