<!DOCTYPE html>
<html>
	<meta charset="utf-8"> 
	<head>
		<title>{{project_name}} {{sim_level}} 验证状态统计</title>
		<link rel="stylesheet" type="text/css" href="/static/css_style.css">
		<link rel="Shortcut Icon" href="/static/favicon.ico" type="image/x-icon" />
		<script src="/static/sseAlert.js" charset="utf-8" ></script>
		<script src="/static/echarts.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<span id="header_text">{{project_name}} {{sim_level}} 验证状态统计</span>
				<img id="load_pic" src="/static/loading_pic.gif" alt="loading">
				<div class="dropdown">
					<button class="dropbtn" id="chart_button">仿真状态</button>
					<div class="dropdown-content">
						<a id="bar_state">仿真状态</a>
						<a id="bar_result">仿真结果</a>
						<a id="bar_group">人员分组</a>
						<a id="sim_time">仿真时长</a>
						<a href="/bucket/?project_name={{project_name}}&sim_level={{sim_level}}">分时段</a>
						<a href="/server_info" id="other">其他</a>
					</div>
				</div>
			</div>
			<div id="ChartDiv">
				

			</div>
			<div id="TableDiv">


			</div>

			
			<div class="footer">UVM仿真结果统计 @ 验证</div>
		</div>
		<script>
			var project_name="{{project_name}}";var sim_level="{{sim_level}}";
		</script>
		<script src="/static/project.js" charset="utf-8" ></script>
	</body>
</html>